@import url(reset.css);
@import url(variable.css);

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, var(--background), var(--background1));
    color: var(--text-color);
}
section{
    background-color: var(--back-card);
    max-width: 400px;
    max-height: 600px;
    margin: 10px;
    padding: 14px;
    border-radius: 12px;
}
label{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}
input{
    padding: 6px;
    border-radius: 10px;
    border: none;
    background-color: var(--background);
    color: var(--text-color);
}
button{
    padding: 5px;
    background-color: #2f4f4f;
    color: #fff8dc;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 2px;
}
ul{
    list-style: none;
    margin: 10px auto;
}
li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--back-li);
    border-radius: 10px;
    border: solid 1.5px;
    margin-top: 4px;
    padding: 10px;
    width: 80%;
    height: 70px;
    font-size: 18px;
}
.feito{
    text-decoration: line-through;
    color: #000000;
    background-color: #18fb3e
}

@media(max-width:500px){
    main{
        flex-direction: column;
    }
    #entrada{
        display: block;
    }
}
